scheduler/installation/scheduler-jobexecution/conf/hive_settings.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="QuerySettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GlobalSettings">
          <xs:annotation>
            <xs:documentation>Common hints should go into GlobalSettings tag Hive Specific hints 
        should go into Hive1Settings HiveServer2 Specific hints should go into Hive2Settings 
The order of query hints  
1 - Global_Default hints  
2 - Global_Pattern hints   
3 - HiveServer2 specific pattern hints 
4 - Job Specific Hints   Added HINTs Data Plane Tables End</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Job" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Default Hints for All Jobs Begin  Default Hints for All Jobs End  Added HINTs Data Plane Tables Begin</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:all>
                    <xs:element type="xs:string" name="Name" minOccurs="0"/>
                    <xs:element type="xs:string" name="Pattern" minOccurs="0"/>
                    <xs:element name="QueryHints">
                      <xs:complexType>
                        <xs:choice maxOccurs="unbounded" minOccurs="0">
                          <xs:element type="xs:string" name="hint"/>
                        </xs:choice>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="CustomDbUrl" minOccurs="0"/>
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Hive2Settings">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Job" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Reverting back the VOLTE and CEI2 Index Hour Hints to avoid the performance impacts</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:all>
                    <xs:element type="xs:string" name="Name" minOccurs="0"/>
                    <xs:element type="xs:string" name="Pattern" minOccurs="0"/>
                    <xs:element name="QueryHints">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="hint" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="CustomDbUrl" minOccurs="0"/>
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

