scheduler/installation/scheduler-jobexecution/conf/spark_settings.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="QuerySettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GlobalSettings">
          <xs:annotation>
            <xs:documentation>Common hints should go into GlobalSettings tag Spark Specific hints 
The order of query hints  
1- Global_Default hints  
2- Spark specific default hints  
3- Global_Pattern hints  
4- Spark specific pattern hints 
5- Global_Job hints  
6- Spark specific job hints</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Job" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Name" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Default Hints for All Jobs Begin</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element type="xs:string" name="Pattern" minOccurs="0"/>
                    <xs:element name="QueryHints">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="hint" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>